<a href="/dashboard">&larr; Back</a>
<div class="admin-title">
  <h2>VIEW / EDIT POST</h2>

  <form action="/delete-post/<%= data._id%>?_METHOD=DELETE" method="post">  
    <input type="submit" value="Delete" class="btn-delete btn">
  </form>
</div>

<form action="/edit-post/<%= data._id %>?_METHOD=PUT" method="post">
  <label for="title">Title</label>
  <input type="text" placeholder="Post title" name="title" value="<%= value.title %>">

  <label for="body"><b>Content</b></label>
  <textarea name="body" cols="50" rows="10"><%= data.body %></textarea>

  <input type="submit" value="UPDATE" class="btn">
</form>