<h3>SIGN IN</h3>

<form action="/admin" method="post">
  <label for="username"><b>Username</b></label>
  <input type="text" placeholder="username..." name="username">

  <label for="password"><b>Password</b></label>
  <input type="password" name="password" placeholder="password...">

  <input type="submit" value="Login" class="btn">
</form>


<h3>REGISTER</h3>

<form action="/register" method="post">
  <label for="username"><b>Username</b></label>
  <input type="text" placeholder="username..." name="username">

  <label for="password"><b>Password</b></label>
  <input type="password" name="password" placeholder="password...">

  <input type="submit" value="Register" class="btn">
</form>