<header class="header">
  <a href="/home" class="header__logo">Admin panel</a>

  <nav class="header__nav">
    <ul>
      <li><a href="/home">HOME</a></li>
    </ul>

    <ul>
      <li><a href="/about">ABOUT</a></li>
    </ul>

    <ul>
      <li><a href="/contact">CONTACT</a></li>
    </ul>
  </nav>

  <div class="header__button">
    <a href="/logout">
     Logout
    </a>
  </div>
</header>