<div class="navbar">
  <div class="logo">
    <a href="/">LOGO</a>
  </div>

  <div class="navlinks">
    <ul>
      <div class="first-section">
        <li><a href="">BOOKS</a></li>
        <li><a href="">VIDEOS</a></li>
        <li><a href="">THE YEAR AHEAD</a></li>
      </div>
      <div style="width: 4px; height: 30px; border-right: 2px solid grey;"></div>
      <div class="second-section">
        <% if (locals.isAuthenticated) { %>
          <li><a href="/users/profile">Profile</a></li>
          <% } else { %>
            <li><a href="/users/login">Login</a></li>
            <li><a href="/users/register">Register</a></li>
            <% } %>
              <p style="display: inline;" id="openSearchModel">
                <span style="position: absolute; top: 20px; right: 20px; width: 35px; height: 35px; cursor: pointer;">
                  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                    stroke="currentColor" class="size-6">
                    <path stroke-linecap="round" stroke-linejoin="round"
                      d="m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607Z" />
                  </svg>
                </span>

              <div id="searchModal" class="modal-transparent">
                <div class="modal-content">
                  <span class="close" id="close">&times;</span>
                  <h2>Search</h2>
                  <input type="text" placeholder="Type to search...">
                </div>
              </div>
            </p>
      </div>
    </ul>
  </div>
</div>

<script>
  const searchButton = document.getElementById("openSearchModel")
  const close = document.getElementById("close")
  close.addEventListener("click", () => {
    document.getElementById("searchModal").style.display = "none"
  })
  searchButton.addEventListener("click", () => {
    document.getElementById("searchModal").style.display = "block"
  })
</script>