<div class="navbar">
  <div class="logo">
    <a href="/">LOGO</a>
  </div>

  <div class="navlinks">
    <ul>
      <div class="first-section">
        <li><a href="">BOOKS</a></li>
        <li><a href="">VIDEOS</a></li>
        <li><a href="">THE YEAR AHEAD</a></li>
      </div>
      <div style="width: 4px; height: 30px; border-right: 2px solid grey;"></div>
      <div class="second-section">
        <li><a href="/users/login">LOGIN</a></li>
        <li><a href="/users/login">REGISTER</a></li>
        <li>Search</li>
      </div>
    </ul>
  </div>  
</div>