<div class="searchBar">
  <div class="container">
    <form action="/search" class="search__form" method="post">
      <input type="search" id="searchInput" name="searchTerm" placeholder="Search...">
    </form>
    <div id="searchClose">Close</div>
  </div>
</div>