<div class="profile-container">
  <div class="profile-header">
    <h1>Welcome, <%= "Kehinde" %>!</h1>
  </div>
  <div class="profile-details">
    <p><strong>Email:</strong>
      <%= "Iwayemikehinde1@gmail.com" %>
    </p>
    <p><strong>Joined on:</strong>
      <%= "Today" %>
    </p>
  </div>
  <div class="profile-actions">
    <a href="/edit-profile" class="btn">Edit Profile</a>
    <a href="/users/logout" class="btn btn-logout">Logout</a>
  </div>
</div>