*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: yasebeau infant;
  font-size: 16px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 20px 4%;
  box-shadow: 0px 0px 6px 4px rgba(0,0,0,0.2);
  align-items: center;
  position: fixed;
  width: 100%;
  background: white;
  top: 0;
}

.navlinks ul {
  display: flex;
  list-style: none;
  column-gap: 30px;
}

ul .first-section li{
  display: inline-block;
  padding: 6px 14px;
}

a{
  color: black
}


ul .second-section li{
  display: inline-block;
  padding: 6px 14px;
}


main.home {
  max-width: 1100px;
  margin: 0 auto;
  padding: 170px 1rem;
}

.post-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
}

.post-preview {
  background: #fff;
  padding: 1rem;
  box-shadow: 0 0 10px 6px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.post-thumbnail {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 5px;
  margin-bottom: 1rem;
}

.post-preview h2 {
  font-size: 1.1rem;
  margin-bottom: 0.5rem;
}

.post-author {  
  font-size: 0.9rem;
  color: #777;
  margin-bottom: 1rem;
}

.post-excerpt {
  margin-bottom: 1rem;
  line-height: 1.6;
}

.read-more {
  color: #007BFF;
  text-decoration: none;
  font-weight: bold;
}

.read-more:hover {
  text-decoration: underline;
}

footer {
  text-align: center;
  padding: 1rem;
  background: #333;
  color: #fff;
  width: 100%;
}




.modal-transparent {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
}

.model-content {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  width: 450px;
  margin: 15% auto;
  text-align: center;
  position: relative;
}

.close {
  position: absolute;
  top: 10px;
  right: 15px;  
  font-size: 20px;
  cursor: pointer;
}

input[type="text"] {
  width: 100%;
  padding: 10px;
  /* margin-top: 20px; */
  border: 1px solid #ccc;
  border-radius: 5px;
}

.server-img{
  width: 100%;
  height: auto;
  object-fit: contain;
}




/* General Styles for Alert Messages */
.alert {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
  min-width: 300px;
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 8px 6px rgba(0, 0, 0, 0.2);
}

/* Styles for Danger Alerts */
.alert-danger {
  background-color: #f8d7da;
  color: #721c24;
  border: 1px solid #f5c6cb;
}

/* Styles for Success Alerts */
.alert-success {
  background-color: #d4edda;
  color: #155724;
  border: 1px solid #c3e6cb;
}

/* Styles for Alert Message Text */
.alert p {
  margin: 0;
}

/* Close Button Styles */
.alert .close {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 20px;
  width: 20px;
  height: 20px;
  color: inherit;
  cursor: pointer;
}

/* Close Button Hover Effect */
.alert .close:hover {
  color: #000;
}