*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: yasebeau infant;
  font-size: 16px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 20px 4%;
  box-shadow: 0px 0px 6px 4px rgba(0,0,0,0.2);
  align-items: center;
  position: fixed;
  width: 100%;
}

.navlinks ul {
  display: flex;
  list-style: none;
  column-gap: 30px;
}

ul .first-section li{
  display: inline-block;
  padding: 6px 14px;
}

a{
  color: black
}


ul .second-section li{
  display: inline-block;
  padding: 6px 14px;
}