* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: yasebeau infant;
}

.center {
  background-color: rgb(255, 255, 255);
  height: 65vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

a.logo {
  margin: 40px;
  display: inline-block;
}

form.form {
  box-shadow: 0px 6px 12px 5px rgba(0, 0, 0, 0.4);
  width: 550px;
  min-height: 320px;
  border-radius: 10px;
  padding: 30px;
}

.heading {
  margin-bottom: 35px;
  text-align: center;
  font-size: 35px;
}

label {
  display: block;
  font-size: 17px;
  margin-bottom: 4px;
}

input[type="email"],
input[type="password"],
input[type="text"] {
  width: 100%;
  height: 40px;
  padding: 5px;
  outline: none;
  border: 1px solid rgb(163, 163, 163);
  font-size: 17px;
  border-radius: 2px;
  margin-bottom: 15px;
}

input:focus:not(input[type="submit"], input[type="checkbox"]) {
  border: 2px solid rgb(169, 169, 255);
}

input[type="submit"] {
  text-align: center;
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 2px;
  background: rgb(56, 56, 252);
  color: white;
  cursor: pointer;
}

input[type="submit"]:focus {
  transform: scale(0.98);
  transition: .2s;
}

.flex {
  display: flex;
  justify-content: space-between;
}

/* General Styles for Alert Messages */
.alert {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
  min-width: 300px;
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 8px 6px rgba(0, 0, 0, 0.2);
}

/* Styles for Danger Alerts */
.alert-danger {
  background-color: #f8d7da;
  color: #721c24;
  border: 1px solid #f5c6cb;
}

/* Styles for Success Alerts */
.alert-success {
  background-color: #d4edda;
  color: #155724;
  border: 1px solid #c3e6cb;
}

/* Styles for Alert Message Text */
.alert p {
  margin: 0;
}

/* Close Button Styles */
.alert .close {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 20px;
  width: 20px;
  height: 20px;
  color: inherit;
  cursor: pointer;
}

/* Close Button Hover Effect */
.alert .close:hover {
  color: #000;
}

#form {
  max-width: 400px;
  height: min-content;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
  padding: 20px 10px;
  border-radius: 5px;
}

.reset-btn {

  background-color: green;
  color: white;
  text-decoration: none;
  padding: 10px 15px;
  font-size: 16px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.reset-btn:hover {
  background-color: rgb(5, 92, 5);
}


/* Responsive Design */
@media (max-width: 768px) {
  .alert {
    width: 90%;
    right: 5%;
    bottom: 10px;
  }
}