<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="" />
    <title><%= locals.title %></title>
    <link rel="stylesheet" href="/css/general.css" />
    <link rel="stylesheet" href="/css/blog.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Bungee+Tint&display=swap" rel="stylesheet">
  </head>
  <body>
      <%- body %>
      <% if (error_msg && error_msg.length> 0) { %>
        <div class="alert alert-danger" id="error">
          <div>
            <% error_msg.forEach(function(msg) { %>
              <p>
                <%= msg %>
              </p>
              <% }); %>
          </div>
          <button class="close" onclick="this.parentElement.style.display='none'">&times;</button>
        </div>
        <% } %>
    
    
          <% if (success_msg.length> 0) { %>
            <div class="alert alert-success" id="success">
              <div>
                <% success_msg.forEach(function(msg) { %>
                  <p>
                    <%= msg %>
                  </p>
                  <% }); %>
              </div>
              <button class="close" onclick="this.parentElement.style.display='none'">&times;</button>
            </div>
            <% } %>
  </body>
  <script>
    const success_element = document.getElementById("success")
  if(success_element) {
    setTimeout(() => {
      success_element.remove()
    }, 5000);
  }

  const error_element = document.getElementById("error")
  if(error_element) {
    setTimeout(() => {
      error.remove()
    }, 5000);
  }
  </script>
</html>
